#
# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
RDKROOT := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"
include manifest_vars.conf

BBLAYERS ?= " \
        ${MANIFEST_PATH_POKY}/meta \
        ${MANIFEST_PATH_OPENEMBEDDED}/meta-oe \
        ${MANIFEST_PATH_OPENEMBEDDED}/meta-python \
        ${MANIFEST_PATH_OPENEMBEDDED}/meta-multimedia \
        ${MANIFEST_PATH_OPENEMBEDDED}/meta-networking \
        ${MANIFEST_PATH_STACK_LAYERING_SUPPORT} \
        ${MANIFEST_PATH_RDK_AUXILIARY} \
        "

# Common layers
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_OSS_VENDOR') if d.getVar('MANIFEST_PATH_OSS_VENDOR') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_OSS_VENDOR'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_RDK_HALIF_HEADERS') if d.getVar('MANIFEST_PATH_RDK_HALIF_HEADERS') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_RDK_HALIF_HEADERS'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_CONFIG_COMMON') if d.getVar('MANIFEST_PATH_CONFIG_COMMON') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_CONFIG_COMMON'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_PROFILE_CONFIG') if d.getVar('MANIFEST_PATH_PROFILE_CONFIG') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_PROFILE_CONFIG'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_PRODUCT_LAYER') if d.getVar('MANIFEST_PATH_PRODUCT_LAYER') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_PRODUCT_LAYER'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_COMMON_OSS_REFERENCE') if d.getVar('MANIFEST_PATH_COMMON_OSS_REFERENCE') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_COMMON_OSS_REFERENCE'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_BSP') if d.getVar('MANIFEST_PATH_BSP') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_BSP'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_SWUPDATE') if d.getVar('MANIFEST_PATH_SWUPDATE') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_SWUPDATE'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_QT5') if d.getVar('MANIFEST_PATH_QT5') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_QT5'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_PLATFORM') if d.getVar('MANIFEST_PATH_PLATFORM') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_PLATFORM'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_OSS_EXT') if d.getVar('MANIFEST_PATH_OSS_EXT') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_OSS_EXT'), 'conf/layer.conf')) else ''}"
BBLAYERS =+ "${@' %s' % d.getVar('MANIFEST_PATH_IMAGE_SUPPORT_RDKE') if d.getVar('MANIFEST_PATH_IMAGE_SUPPORT_RDKE') and os.path.isfile(os.path.join(d.getVar('MANIFEST_PATH_IMAGE_SUPPORT_RDKE'), 'conf/layer.conf')) else ''}"

# Future reserved
#BBLAYERS =+ "${@'${MANIFEST_PATH_OEM_OVERLAY_SOC}' if os.path.isfile('${MANIFEST_PATH_OEM_OVERLAY_SOC}/conf/layer.conf') else ''}"
#BBLAYERS =+ "${@'${MANIFEST_PATH_VTS}' if os.path.isfile('${MANIFEST_PATH_VTS}/conf/layer.conf') else ''}"
